@page "/starwars"
@using BlazorSample.Data

@inject StarWarsApiService StarWarsService;

@if(_results == null)
{
    <p><em>loading...</em></p>
} else
{

<ul>
    @foreach(var character in _results)
    {
        <li>@character.name - @character.gender</li>
    }
</ul>
}
@code {

    List<Result> _results;

    protected override async Task OnInitializedAsync()
    {
        _results = await StarWarsService.GetContactsAsync();
    }

}